version: '3.3'

services:
  # --- Application Service ---
  app:
    build: .
    container_name: restaurant_app
    restart: always
    ports:
      - "5000:5000" # Expose port 5000 to host
    env_file:
      - .env
    environment:
      - REDIS_URI=redis://redis:6379
    depends_on:
      - redis
    networks:
      - app-network

  # --- Nginx Web Server (Reverse Proxy) ---
  nginx:
    image: nginx:alpine
    container_name: restaurant_nginx
    restart: always
    ports:
      - "80:80" # Public Port
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - app-network

  # --- Redis Cache Service ---
  redis:
    image: redis:alpine
    container_name: restaurant_redis
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
